@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-self: start;
  z-index: 999;
  width: 100%;
  height:8vh;
  color:#fff;
}

.nav-container{
  background: #2980b9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin:0 65px 0 65px;
}

.nav-menu-left{
  display:flex;
}

.nav-menu-left h6,.nav-menu-left span{
  align-self: center;
}

.nav-menu-left h6 {
  font-size: 1rem;
  padding: 0 15px 0 15px;
  font-weight: 800;
  letter-spacing: 2px;
}

.nav-menu-right{
  display: flex;
}

.nav-menu-right ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0 15px 0 15px;
  align-items: center;
  margin: 0;
}

.nav-menu-right li {
  padding: 10px;
}

.section{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-self: center;
  color:#fff;
  flex-grow: 1;
  justify-content: center;
  z-index:9999;
  height: 92vh;
  position:relative;
  left:100%;
  transition: left 1s;
}

.section-header{
  display: flex;
  justify-content: center;
  flex-grow:1;
  align-items: center;
}

.section h2 {
  text-align: center;
}

.section div.text {
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section div.text p {
  margin:0;
}

.section h2, .section div.number{
  width: 50%;
}

.section .number {
  transform: rotate(90deg);
  font-size: 8rem;
  text-align: center;
} 

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

/* .stars {
	z-index: 0;
	background: #24243f url('https://i.imgur.com/YKY28eT.png') repeat top center;
}

 .twinkling{
	z-index: 1;
	background:transparent url('https://i.imgur.com/XYMF4ca.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
} */

 /* .clouds{
	z-index: 2;
    background:transparent url('https://i.imgur.com/mHbScrQ.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
} */

body {
  font-family: 'Space Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
}

.content{
  display:flex;
  width:100%;
}

.solar {
  position: relative;
  height: 92vh;
  width: 75%;
  margin-left:-250px
}

.planet {
  position: absolute;
  width: 600px;
  height: 600px;
  opacity: 0.7;
  border: 2px solid #2980b9;
  border-radius: 100%;
}

.sun {
  z-index: 9;
  transform: scale(.5);
  position: absolute;
  width: 600px;
  height: 600px;

  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF512F, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(ellipse at center, #ffd000 1%,#f9b700 39%,#f9b700 39%,#e06317 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 100%;

}

.neptune {
  z-index: 1;
  transform: scale(2.2);
  animation: orbit-neptune 3s 1 ease-in-out;
}

.uranus {
  z-index: 2;
  transform: scale(2);
  animation: orbit-uranus 4s 1 ease-in-out;
}

.saturn {
  z-index: 3;
  transform: scale(1.8);
  animation: orbit-saturn 5s 1 ease-in-out;
}

.jupiter {
  z-index: 4;
  transform: scale(1.6);
  animation: orbit-jupiter 3s 1 ease-in-out;
}

.mars {
  z-index: 5;
  transform: scale(1.4);
  animation: orbit-mars 4s 1 ease-in-out;
}

.earth {
  z-index: 6;
  transform: scale(1.2);
  animation: orbit-earth 5s 1 ease-in-out;
}

.venus {
  z-index: 7;
  transform: scale(1);
  animation: orbit-venus 4s 1 ease-in-out;
}

.mercury {
  z-index: 8;
  transform: scale(0.8);
  animation: orbit-mercury 3s 1 ease-in-out;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -11px;
  cursor: pointer;
}

@keyframes orbit-mercury {
  0% {
      transform: scale(0.8) rotate(180deg);
  }
  100% {
      transform: scale(0.8) rotate(320deg);
  }
}

@keyframes orbit-venus {
  0% {
      transform: scale(1) rotate(-180deg);
  }
  100% {
      transform: scale(1) rotate(-360deg);
  }
}

@keyframes orbit-earth {
  0% {
      transform: scale(1.2) rotate(180deg);
  }
  100% {
      transform: scale(1.2) rotate(360deg);
  }
}

@keyframes orbit-mars {
  0% {
      transform: scale(1.4) rotate(-180deg);
  }
  100% {
      transform: scale(1.4) rotate(-360deg);
  }
}

@keyframes orbit-jupiter {
  0% {
      transform: scale(1.6) rotate(180deg);
  }
  100% {
      transform: scale(1.6) rotate(360deg);
  }
}

@keyframes orbit-saturn {
  0% {
      transform: scale(1.8) rotate(-180deg);
  }
  100% {
      transform: scale(1.8) rotate(-360deg);
  }
}

@keyframes orbit-uranus {
  0% {
      transform: scale(2) rotate(180deg);
  }
  100% {
      transform: scale(2) rotate(360deg);
  }
}

@keyframes orbit-neptune {
  0% {
      transform: scale(2.2) rotate(-180deg);
  }
  100% {
      transform: scale(2.2) rotate(-360deg);
  }
}


/* Mercury */
.mercury .dot {
  background: radial-gradient(circle, #d9d9d9 40%, #bfa9a9);
  box-shadow: 0 0 10px rgba(191, 169, 169, 0.7);
  transform: scale(0.9);
  --glow-color: rgba(191, 169, 169, 0.7);
 
}

/* Venus */
.venus .dot {
background: radial-gradient(circle, #e8a653 40%, #ffbb55);
box-shadow: 0 0 12px rgba(255, 187, 85, 0.7);
--glow-color: rgba(255, 187, 85, 0.7);

}

/* Earth */
.earth .dot {
background: radial-gradient(circle, #4c75ff, #2a3bb4);
box-shadow: 0 0 14px rgba(76, 117, 255, 0.7);

--glow-color: rgba(76, 117, 255, 0.7);
}

/* Mars */
.mars .dot {
background: radial-gradient(circle, #d15858 40%, #a73a3a);
box-shadow: 0 0 12px rgba(209, 88, 88, 0.7);
transform: scale(0.6);

--glow-color: rgba(209, 88, 88, 0.7);
}
/* Jupiter */
.jupiter .dot {
background: radial-gradient(circle, #ffba7d 40%, #d9904d);
box-shadow: 0 0 18px rgba(255, 186, 125, 0.7);

--glow-color: rgba(255, 186, 125, 0.7);
}

/* Saturn */
.saturn .dot {
background: radial-gradient(circle, #ffb67a 40%, #cc8237);
border-radius: 50%;
box-shadow: 0 0 20px rgba(255, 196, 86, 0.7);
transform: scale(0.8);

--glow-color: rgba(255, 196, 86, 0.7);
}

/* Uranus */
.uranus .dot {
background: radial-gradient(circle, #64a0a0 40%, #407c7c);
box-shadow: 0 0 16px rgba(100, 160, 160, 0.8);
transform: scale(0.6);

--glow-color: rgba(100, 160, 160, 0.8);
}

/* Neptune */
.neptune .dot {
background: radial-gradient(circle, #2e4c94 40%, #1d2c60);
box-shadow: 0 0 14px rgba(46, 76, 148, 0.7);
transform: scale(0.5);
--glow-color: rgba(46, 76, 148, 0.7);

}

.glow {
  animation: glow 2s infinite ease-in-out;
}

@keyframes glow {
  0% {
      box-shadow: 
          0 0 6px var(--glow-color, rgba(255, 187, 85, 0.7)),
          0 0 12px var(--glow-color, rgba(255, 187, 85, 0.5)),
          0 0 18px var(--glow-color, rgba(255, 187, 85, 0.3)),
          0 0 24px var(--glow-color, rgba(255, 187, 85, 0.2));
  }
  50% {
      box-shadow: 
          0 0 12px var(--glow-color, rgba(255, 187, 85, 0.9)),
          0 0 24px var(--glow-color, rgba(255, 187, 85, 0.7)),
          0 0 36px var(--glow-color, rgba(255, 187, 85, 0.5)),
          0 0 48px var(--glow-color, rgba(255, 187, 85, 0.3));
  }
  100% {
      box-shadow: 
          0 0 6px var(--glow-color, rgba(255, 187, 85, 0.7)),
          0 0 12px var(--glow-color, rgba(255, 187, 85, 0.5)),
          0 0 18px var(--glow-color, rgba(255, 187, 85, 0.3)),
          0 0 24px var(--glow-color, rgba(255, 187, 85, 0.2));
  }
}

@keyframes orbit-out-mercury {
  0% {
      transform: scale(0.8) rotate(360deg);
  }
  100% {
      transform: scale(0.8) rotate(0deg);
  }
}

@keyframes orbit-out-venus {
  0% {
      transform: scale(1) rotate(0deg);
  }
  100% {
      transform: scale(1) rotate(360deg);
  }
}

@keyframes orbit-out-earth {
  0% {
      transform: scale(1.2) rotate(360deg);
  }
  100% {
      transform: scale(1.2) rotate(0deg);
  }
}

@keyframes orbit-out-mars {
  0% {
      transform: scale(1.4) rotate(0deg);
  }
  100% {
      transform: scale(1.4) rotate(360deg);
  }
}

@keyframes orbit-out-jupiter {
  0% {
      transform: scale(1.6) rotate(360deg);
  }
  100% {
      transform: scale(1.6) rotate(0deg);
  }
}

@keyframes orbit-out-saturn {
  0% {
      transform: scale(1.8) rotate(0deg);
  }
  100% {
      transform: scale(1.8) rotate(360deg);
  }
}

@keyframes orbit-out-uranus {
  0% {
      transform: scale(2) rotate(360deg);
  }
  100% {
      transform: scale(2) rotate(0deg);
  }
}

@keyframes orbit-out-neptune {
  0% {
      transform: scale(2.2) rotate(0deg);
  }
  100% {
      transform: scale(2.2) rotate(360deg);
  }
}

.section.active{
  left:0;
  transition: left 1s;
}

.section > div{
  position: absolute;
  transition: left 1s;

  opacity: 0;
}

.section > div.selected {
  opacity:1;
}

.saturn-ring {
  width: 9px;
  height: 25px;
  position: absolute;
  border-top: 1px solid #ffc594;
  border-bottom: 1px solid #ffc594;
  border-left: 1px solid transparent;
  border-right: 1px solid #ffc594;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  left: 4px;
  transform: rotate(-306deg);
  top: -4px;
}